.col-sm-8 {
  margin: auto;
  padding: 100px;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

#start-quiz {
  margin: auto;
}

button {
  display: block;
  margin: 10px 0px 10px 0px;
  border: rgb(96, 79, 255);
  border-radius: 10px;
  background: rgb(96, 79, 255);
  color: white;
  padding: 10px;
}

#initial-submit {
  display: inline;
  margin-left: 10px;
  padding: 4px;
}

#go-back {
  display: inline;
  margin-right: 20px;
}

#clear {
  display: inline;
}

#result {
  margin-top: -75px;
  color: rgb(96, 79, 255);
}

ol {
  background: rgb(96, 79, 255, 0.5);
}

li {
  margin-left: -20px;
  margin-bottom: 20px;
}
